
.icon-icon_dice_6:before { content: '\e800'; } /* '' */
.icon-icon_dice_5:before { content: '\e801'; } /* '' */
.icon-icon_dice_4:before { content: '\e802'; } /* '' */
.icon-icon_dice_3:before { content: '\e803'; } /* '' */
.icon-icon_dice_2:before { content: '\e804'; } /* '' */
.icon-icon_dice_1:before { content: '\e805'; } /* '' */
.icon-icon_pair:before { content: '\e806'; } /* '' */
.icon-icon_pair-1:before { content: '\e807'; } /* '' */
.icon-icon_5_of_a_kind:before { content: '\e808'; } /* '' */
.icon-icon_4_of_a_kind:before { content: '\e809'; } /* '' */
.icon-icon_attack_2:before { content: '\e80a'; } /* '' */
.icon-icon_attack_1:before { content: '\e80b'; } /* '' */
.icon-chain_rework_2:before { content: '\e80c'; } /* '' */
.icon-icon_shield_1:before { content: '\e80d'; } /* '' */
.icon-icon_shield_2:before { content: '\e80e'; } /* '' */
.icon-icon_shield_3:before { content: '\e80f'; } /* '' */
.icon-icon_shield_4:before { content: '\e810'; } /* '' */
.icon-icon_straight_5:before { content: '\e811'; } /* '' */
.icon-icon_straight_4:before { content: '\e812'; } /* '' */
.icon-icon_straight_3:before { content: '\e813'; } /* '' */
.icon-icon_straight_2:before { content: '\e814'; } /* '' */
.icon-icon_powerup_28:before { content: '\e815'; } /* '' */
.icon-icon_powerup_27:before { content: '\e816'; } /* '' */
.icon-icon_powerup_26:before { content: '\e817'; } /* '' */
.icon-icon_powerup_25:before { content: '\e818'; } /* '' */
.icon-icon_powerup_24:before { content: '\e819'; } /* '' */
.icon-icon_powerup_23:before { content: '\e81a'; } /* '' */
.icon-icon_powerup_22:before { content: '\e81b'; } /* '' */
.icon-icon_powerup_21:before { content: '\e81c'; } /* '' */
.icon-icon_powerup_20:before { content: '\e81d'; } /* '' */
.icon-icon_powerup_19:before { content: '\e81e'; } /* '' */
.icon-icon_powerup_18:before { content: '\e81f'; } /* '' */
.icon-icon_powerup_17:before { content: '\e820'; } /* '' */
.icon-icon_powerup_16:before { content: '\e821'; } /* '' */
.icon-icon_powerup_15:before { content: '\e822'; } /* '' */
.icon-icon_powerup_14:before { content: '\e823'; } /* '' */
.icon-icon_powerup_13:before { content: '\e824'; } /* '' */
.icon-icon_powerup_12:before { content: '\e825'; } /* '' */
.icon-icon_powerup_11:before { content: '\e826'; } /* '' */
.icon-icon_powerup_10:before { content: '\e827'; } /* '' */
.icon-icon_powerup_9:before { content: '\e828'; } /* '' */
.icon-icon_powerup_8:before { content: '\e829'; } /* '' */
.icon-icon_powerup_7:before { content: '\e82a'; } /* '' */
.icon-icon_powerup_6:before { content: '\e82b'; } /* '' */
.icon-icon_powerup_5:before { content: '\e82c'; } /* '' */
.icon-icon_powerup_4:before { content: '\e82d'; } /* '' */
.icon-icon_powerup_3:before { content: '\e82e'; } /* '' */
.icon-icon_powerup_2:before { content: '\e82f'; } /* '' */
.icon-icon_powerup_1:before { content: '\e830'; } /* '' */
.icon-icon_any:before { content: '\e831'; } /* '' */
.icon-icon_of_a_kind:before { content: '\e832'; } /* '' */
.icon-icon_attack_6:before { content: '\e838'; } /* '' */
.icon-icon_attack_5:before { content: '\e839'; } /* '' */
.icon-icon_attack_4:before { content: '\e83a'; } /* '' */
.icon-icon_attack_3:before { content: '\e83b'; } /* '' */
.icon-icon_shield_5:before { content: '\e83d'; } /* '' */
.icon-icon_shield_6:before { content: '\e83e'; } /* '' */
.icon-icon_powerup_30:before { content: '\e83f'; } /* '' */
.icon-icon_powerup_29:before { content: '\e840'; } /* '' */
.icon-icon_3_of_a_kind:before { content: '\e910'; } /* '' */
