
.icon-icon_dice-6-alt:before { content: '\e800'; } /* '' */
.icon-icon_dice-5-alt:before { content: '\e801'; } /* '' */
.icon-icon_dice-4-alt:before { content: '\e802'; } /* '' */
.icon-icon_dice-3-alt:before { content: '\e803'; } /* '' */
.icon-icon_dice-2-alt:before { content: '\e804'; } /* '' */
.icon-icon_dice-1-alt:before { content: '\e805'; } /* '' */
.icon-pair:before { content: '\e807'; } /* '' */
.icon-attack-font-5:before { content: '\e808'; } /* '' */
.icon-attack-font-1:before { content: '\e809'; } /* '' */
